

body {
    background-color: #52616b;
    overflow: auto;
    
  }
  
  .container {
    width: max-content;
    min-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #52616b;
    padding-top: 0px;
    
  }
  
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0px;
  }
  
  .kanban-board-full{
    display:flex;
    flex-direction: column;
    width:100%;
    font-family: Oswald;
  }

  .lower{
    margin-top:1.5rem;
  }
  
  .kanban-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .heading-text {
    font-size: 4rem;
    color: #1E2022;
    padding: 1rem 1.7rem;
    /* font-weight:bold; */
    margin: 1rem;
    font-family: Lobster;
    text-shadow: 1px 2px #c9d6df;
    margin-top:-2rem;
  }
  
  .kanban-block {
    padding: 0rem;
    width: 28.5%;
    min-width: 10rem;
    min-height: 4.5rem;
    margin:1.5rem;
    transition:0.3s;
  
    
  }

  .kanban-block-hover{
    transform: scale(1.05);

  }
  
  .kanban-block-heading{
    background-color: #1E2022;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    padding: .7rem 1rem;
    font-size: 2rem;
    text-align: center;
    color:#c9d6df;
    box-shadow: 0 0 3px #1E2022;
    font-family:'Oswald';
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
  }

  .kanban-block-space{
    background-color:#c9d6df;
    margin-top: .4rem;
    min-height:25rem;
    height:max-content;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    text-align: center;
    box-shadow: 0px 0px 3px #1E2022;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    padding:.5rem;
    
  }
  
  .add-class-btn{
    font-size:5rem;
    color:#1E202250;
    background-color: #c9d6df;
    border:none;
    margin-top:8rem;
    cursor: pointer;
  }

  .sidebar-links{
    text-decoration: none;
  
  }

  /*post-it notes---------------------------*/

  .post-it {
    background-color: #1E2022;
    width: 44%;
    height: 110px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #c9d6df;
  
  }

  
  
  .note-content {
    margin: 0;
    line-height: 1.5;
  }