body {
    background-color: #52616b;
    overflow: auto;
    
  }
  
  .container {
    width: max-content;
    min-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border:4px solid red;
    background-color: #52616b;
    
    
  }
  
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
  
  .kanban-board-full{
    display:flex;
    flex-direction: column;
    border: 4px solid green;
    width:100%;
  }

  .lower{
    margin-top:4rem;
  }
  
  .kanban-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .heading-text {
    font-size: 6rem;
    color: #1E2022;
    padding: 1rem 1.7rem;
    font-weight:bold;
    margin: 1rem;
    font-family: Lobster;
    text-shadow: 2px 2px #c9d6df;
    margin-top:10rem;
    
  }
  
  .kanban-block {
    padding: 0.6rem;
    width: 28.5%;
    min-width: 10rem;
    min-height: 4.5rem;
    margin:2rem;
    
  }

  .kanban-block-hover{
    box-shadow: 0 0 5px #fff;
  }
  
  .kanban-block-heading{
    background-color: #1E2022;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    padding: .7rem 1rem;
    font-size: 3rem;
    text-align: center;
    color:#c9d6df;
    box-shadow: 0 0 3px #1E2022;
    font-family: Oswald;

  }

  .kanban-block-space{
    background-color:#c9d6df;
    margin-top: .4rem;
    height:30rem;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    text-align: center;
    box-shadow: 2px 2px 3px #1E2022;
    
  }
  
  .add-class-btn{
    font-size:5rem;
    color:#1E202250;
    background-color: #c9d6df;
    border:none;
    margin-top:9rem;
    cursor: pointer;
  }